* {
    box-sizing: border-box;
    margin: 0 auto;
}

/* Make button  go directly in the middle of the page*/
/* .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em;
}

button {
    background-color: lightskyblue;
    color: black;
    font-size: 2em;
    padding: 1em;
    border-radius: 10%;
} */